$background-color: #222127;
$content-background: #fff;
$font-color: #2a2628;
$font-dark-grey: #8e8e93;
$page-width: 650px;
$block-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
$green-color: #36C67C;
$primary-gradient: linear-gradient(90deg, #6D6B74 13%, #9592A4 47.5%, #CCC9DA 100%);
$white: #fff;
$light: #F9F9FB;
$gray: #666572;
$gray-medium: #808080;
$black: #000000;
$purple-default: #1CAF68;
$purple-hover: #23DC83;
$purple-pressed: #15844E;
$purple-disabled: #D0D0D0;
$disabled: #B0B0B0;
$orange: #FF812C;
$red: #C83232;
$silver: #E9F0F6;
$yellow: #EDB13D;
$blue: #2A70B0;
$green: #43B02A;
$green-light: #D3EEE1;
$rose: #FA8283;

$bg-message-info: #e9f5fe !default;
$blue-color: #008fe2;
$blue-color-hover: #27ACFC;
$blue-font-color: #fff;

$red-color: #e31e24;
$red-font-color: #f7635c;
$body-dark: #364C5D;
$gray-900: #1A202C;
$gray-500: #636B79;
$gray-300: #EFEFEF;
$light-bg: #DEEFF9;
$tbl-border: #D4E1ED;
$divider: #ECF2F7;
$bg-primary: #F4FAFD;
$border: #F6F6F6;

$secondary-default: #DEEFF9;
$secondary-hover: #C7E4F5;
$secondary-pressed: #B1D9F1;

$app-border: #C0D4E3;
$txt-body-grey: #757E84;